.container {
  a {
    height: 58px;
    width: 700px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;

    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;

    color: var(--background);
    background: var(--heading);
  }
}
