.header {
  margin: 40px auto 39.37px;
}

.container {
  margin: 80px auto;
  max-width: 721px !important;
}

.post {
  margin: 0 10.5px;

  h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;

    letter-spacing: -0.5px;

    color: var(--heading);

    margin-bottom: 24px;
  }

  & > p {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: var(--info);
  }
}

.info {
  display: flex;

  div {
    display: flex;
    align-items: center;
    gap: 8px;

    & + div {
      margin-left: 24px;
    }
  }

  time,
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: var(--info);

    svg {
      width: 20px;
      height: 20px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }

  & + p {
    margin-top: 16px;
  }
}

.content {
  margin-top: 64px;

  strong {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;

    text-align: justify;

    color: var(--heading);

    & + div {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  div {
    strong {
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;

      text-align: justify;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;

      text-align: justify;

      color: var(--body);
    }
    a {
      color: var(--highlight);
    }

    ul {
      margin-top: 25px;

      li {
        margin-bottom: 25px;
      }
    }
  }
}

.footer {
  margin: 60px auto 0;

  display: flex;
  flex-direction: column;

  hr {
    opacity: 0.1;

    border: 1px solid var(--body);

    margin-bottom: 48px;
  }

  div.navigation {
    display: flex;
    justify-content: space-between;

    margin-bottom: 80px;

    div {
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.5px;

        color: var(--heading);

        margin-bottom: 8px;
      }

      a {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;

        color: var(--highlight);

        &:hover {
          cursor: pointer;
        }
      }

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }

  div.comments {
    margin-bottom: 80.19px;
  }

  aside {
    margin: 0 auto 80px;
  }
}
